#Toggle:hover{
	background-color:rgb(150,150,250);
	background-image:none;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget1{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget2{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget3{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget4{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget5{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget6{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget7{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget8{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget9{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget10{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget11{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#ToggleTarget{
	margin-left:70px;
	color:rgb(50,100,200);	
	font-size:18px;
	font-weight:bolder;
	font-style:oblique;
}
#body{
	text-align:left;
	color:rgb(50,100,250);	
	font-size:20px;
	font-weight:bold;
	font-style:oblique;
}